@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-color: #2980b9;
}
h1, h2{
    font-size: 22px;
}
h3{
    font-size: 16px;
}
.intro{
    display: grid;
    place-items: center;
    margin: 25% auto;
    background-color: #e74c3c;
    color: white;
    padding: 2em;
    border-radius: 2em;
    font-family: 'Roboto', sans-serif;
}
.intro p{
    margin-top: -9px;
    text-align: justify;
}
.intro a:link, a:visited {
    margin-bottom: 0.5em;
    background-color: #2980b9;
    border-radius: 0.3em;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
  }
  .please{
      color: #3ce77b;
      animation: blink 1s steps(1, end) infinite;
  }
footer{
    background-color: #e74c3c;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
